:root {
  --color-background: #ffeb3b; /* Amarillo brillante */
  --color-primary: #f50057; /* Rosa vibrante */
  --color-secondary: #00bcd4; /* Cian intenso */
  --color-accent: #ff4081; /* Rosa fuerte */
  --color-text: #212121; /* Gris oscuro para el texto */
  --color-popup-background: #ffffff; /* Fondo del popup */
  --color-popup-border: #f50057; /* Borde del popup en rosa vibrante */
}

body {
  background-image: url(../images/fondo\ de\ flores.jpeg);
  border-radius: 10px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
  font-family: "Arial", sans-serif;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
.extra-page {
  background-color: var(--color-popup-background);
}
.container {
  max-width: 350px;
  display: block;
  margin: 20px auto;
  padding: 0;
}
.hero {
  background-image: linear-gradient(
      rgba(17, 17, 26, 0.5),
      rgba(17, 17, 26, 0.5)
    ),
    url(../images/fondo\ de\ flores.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 844px;
  margin: 0;
}
.hero-content {
  color: var(--color-popup-background);
}

.hero h1 {
  text-align: center;
  font-size: 50px;
  margin: 200px 0 30px 0;
}
.hero h2 {
  text-align: center;
  margin: 30px 0;
}
.hero a {
  text-decoration: none;
  color: var(--color-popup-background);
}
.btn {
  display: block;
  margin: 50px auto;
  background-color: var(--color-secondary); /* Usando la variable de color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}
.btn:hover {
  background-color: #ff6699; /* Color al pasar el ratón por encima */
}
.countdown {
  text-align: center;
  padding: 5px;
  background-color: var(--color-background);
}
#countdown-timer {
  font-size: 20px;
  font-weight: bold;
  margin: 80px 0;
}
#countdown-timer span {
  margin: 0 10px;
  padding: 5px;
  line-height: 45px;
  border: 2px solid var(--color-secondary); /* Borde para los números */
  border-radius: 5px;
  background-color: var(--color-popup-background);
}
.countdown-unit {
  margin: 0 80px;
  text-align: start;
}
.details {
  text-align: center;
  padding: 20px;
  background-color: var(--color-secondary);
  color: var(--color-popup-background);
}
.details h2 {
  font-size: 35px;
  margin: 30px 0;
}
.details p {
  font-size: 20px; /* Tamaño del texto */
  margin: 20px 0; /* Espacio entre los párrafos */
}
.fiesta {
  text-align: center;
  padding: 20px;
  background-color: var(--color-popup-background);
}
.fiesta h2 {
  font-size: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap; /* Permite que las cards se envuelvan en pantallas pequeñas */
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 0 0 10px 0;
}

.card p {
  margin: 0 0 15px 0;
}
.btn-a {
  background-color: var(--color-background); /* Amarillo brillante */
  color: var(--color-text);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.btn-a:hover {
  transform: translateY(-3px); /* Eleva el botón al pasar el ratón */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.rsvp {
  text-align: center;
  padding: 20px;
  background-color: var(--color-secondary);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  width: 200px;
}
.btn-b {
  background-color: var(--color-popup-border);
  color: var(--color-popup-background);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
}
.btn-b:hover {
  background-color: #ff6699;
  transform: scale(1.05);
}
.goodbye {
  text-align: center;
  padding: 40px 0;
  background-color: var(--color-accent); /* Rosa vibrante */
}
.goodbye a {
  color: var(--color-popup-background);
  text-decoration: none;
  font-size: 35px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid var(--color-popup-background);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--color-primary);
  color: var(--color-popup-background);
}

.button2 {
  padding: 5px 10px;
  color: var(--color-popup-background);
  cursor: pointer;
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

.button2:hover {
  opacity: 0.7;
}
/* Estilos para los popups */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: var(--color-popup-background);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--color-popup-border);
  width: 80%; /* Podrías ajustar el ancho aquí */
  max-width: 500px; /* Ancho máximo */
  border-radius: 10px;
}

.close {
  color: var(--color-popup-background);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 2em; /* Tamaño de fuente más pequeño para móviles */
  }

  .countdown,
  .details,
  .rsvp,
  .fiesta {
    padding: 15px; /* Reducir el padding */
  }

  .card {
    width: 90%; /* Las cards ocuparán el 90% del ancho en pantallas pequeñas */
  }
}
