:root {
  --color-background: #ffeb3b; /* Amarillo brillante */
  --color-primary: #f50057; /* Rosa vibrante */
  --color-secondary: #00bcd4; /* Cian intenso */
  --color-accent: #ff4081; /* Rosa fuerte */
  --color-text: #212121; /* Gris oscuro para el texto */
  --color-popup-background: #ffffff; /* Fondo del popup */
  --color-popup-border: #f50057; /* Borde del popup en rosa vibrante */
}

body {
  background-color: var(--color-text);
  font-family: "Arial", sans-serif;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}
.container {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
header {
  text-align: center;
  padding: 20px;
  background-color: var(--color-primary);
}

h1 {
  font-size: 2.5em;
  color: var(--color-secondary);
  margin: 0;
}

.countdown {
  text-align: center;
  padding: 10px;
  background-color: var(--color-background);
}

#countdown-timer {
  font-size: 24px;
  font-weight: bold;
}

#countdown-timer span {
  margin: 0 10px;
  padding: 5px;
  line-height: 45px;
  border: 2px solid var(--color-secondary); /* Borde para los números */
  border-radius: 5px;
  background-color: var(
    --color-popup-background
  ); /* Fondo blanco para los números */
}

.details {
  text-align: center;
  padding: 20px;
  background-color: var(--color-accent);
}

.fiesta {
  text-align: center;
  padding: 20px;
  background-color: var(--color-popup-background);
}

.cards {
  display: flex;
  flex-wrap: wrap; /* Permite que las cards se envuelvan en pantallas pequeñas */
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 0 0 10px 0;
}

.card p {
  margin: 0 0 15px 0;
}

.rsvp {
  text-align: center;
  padding: 20px;
  background-color: var(--color-secondary);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  width: 200px;
}

.goodbye a {
  text-decoration: none;
  text-align: center;
  color: var(--color-text);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid var(--color-popup-background);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--color-primary);
  color: var(--color-popup-background);
}

.button2 {
  padding: 5px 10px;
  color: var(--color-popup-background);
  cursor: pointer;
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

.button2:hover {
  opacity: 0.7;
}

footer {
  margin-top: 60px;
  text-align: center;
}

footer p {
  opacity: 0.6;
}

footer a {
  color: var(--color-accent);
  text-decoration: none;
}

footer img {
  width: 20px;
}

/* Estilos para los popups */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: var(--color-popup-background);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--color-popup-border);
  width: 80%; /* Podrías ajustar el ancho aquí */
  max-width: 500px; /* Ancho máximo */
  border-radius: 10px;
}

.close {
  color: var(--color-popup-background);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 2em; /* Tamaño de fuente más pequeño para móviles */
  }

  .countdown,
  .details,
  .rsvp,
  .fiesta {
    padding: 15px; /* Reducir el padding */
  }

  .card {
    width: 90%; /* Las cards ocuparán el 90% del ancho en pantallas pequeñas */
  }

  footer {
    margin-top: 30px; /* Reducir el margen superior */
  }

  footer p {
    font-size: 12px; /* Tamaño de fuente más pequeño */
  }

  footer img {
    width: 15px; /* Reducir el tamaño de la imagen del logo */
  }
}
